{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/sticky.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<!-- Fixed navbar -->
	{% block navigation %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="{{ path('app_login') }}">Logout</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	{% endblock %}
    <!-- Begin page content -->
    <div class="container">
      {% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	  {% endfor %}
	  <div>User Logged-in Time : {{datetime}} </div>
	  <br />
	  <div>Twig Extension Usage: {{ '5500' | price }}</div>
      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
      <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </div>
	{% block footer%}
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Symfony Demo for R&D.. </p>
      </div>
    </footer>
	{% endblock %}
{% endblock %}